/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --wd-white: #fbfbfb;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("/background-photo.jpg");
  /* background: linear-gradient(204deg, rgba(102, 102, 102, 0.00) 37.92%, rgba(0, 0, 0, 0.80) 112.27%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("/background-photo.jpg") lightgray -98.319px -56.793px / 126.893% 110.073% no-repeat; */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: var(--wd-white);
  background-blend-mode: multiply, normal;
  font-family: 'neue-haas-grotesk-display';
}

html,
body {
  width: 100%;
  min-height: 800px;
}
