/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --wd-white: #fbfbfb;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("/background-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  color: var(--wd-white);
  background-blend-mode: multiply, normal;
  font-family: 'neue-haas-grotesk-display';
  padding: 2.5rem 0 2.5rem 20px;
}

html,
body {
  width: 100%;
}

@media (width >= 48rem){
  body{
    background-image: url("/background-photo-desktop.jpg");
    background-position: center top;
    background-size: cover;
    padding: 2.5rem;
  min-height: 800px;
  }
}